body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.input-wrapper input {
    width: calc(100% - 40px);
    padding-left: 40px; /* Adjust this padding based on icon size */
    color: #000;
}
.input-wrapper .fa-location-pin, .fa-location-dot, .fa-person, .fa-phone, .fa-envelope, .fa-user{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    z-index: 1; 
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[id="adult"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust for padding */
}

textarea {
    height: 100px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
